@font-face {
  font-family: "PoppinsLightItalic";
  src: url("Poppins-LightItalic.ttf");
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("Poppins-Medium.ttf");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("Poppins-SemiBold.ttf");
}
$darkColor: #293f54;
$brightColor: #e6e6ff;
$markerColor: #8d3264;
$paleColor: #eaf1f1;
